{% extends 'base.html' %}
{% load static %}

{% block title %}Game room{% endblock title %}

{% block content %}
<h3>Players</h3>
<p>
    {{ players|join:", "}}
</p>

<form action="" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="name" autofocus=""
            autocapitalize="none" autocomplete="none" placeholder="Name"
            aria-label="Name" maxlength="30" required="" id="id_name">
    </div>
    <div hidden class="input-group mb-3">
        <select name="game" required="" id="id_game">
            <option value="{{this_game.id}}"></option>
        </select>
    </div>
    <input type="submit" name="add_player" class="btn btn-primary" value="Add player">
</form>
<br />
<br />

<h3>Scoreboard</h3>

<table style="text-align: center;">
    <tr style="border-bottom:groove; font-weight:500;">
        <th>
            Round
        </th>
        {% for player in players %}
        <th>
            {{ player.name }}
        </th>
        {% endfor %}
    </tr>
    {% for round in rounds %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        {% for score in round.score_set.all %}
        <td>
            {{ score.value }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr style="border-bottom:groove; border-top:groove; font-weight:500;">
        <td>
            Total
        </td>
        {% for score in running_scores %}
        <td>
            {{ score.total }}
        </td>
        {% endfor %}
    </tr>
    <form method="post">
    <div style="vertical-align:middle;">
        <tr>
            <td>
                <input type="submit" name="add_score" id="add_score" class="btn
                btn-primary" value="Update round {{ rounds|length}} ">
            </td>
        
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
            <td>
                <div hidden class="input-group">
                    {{ form.player }}
                </div>
                <div hidden class="input-group">
                    {{ form.game_round }}
                </div>
                <div class="input-group">
                    {{ form.value }}
                </div>
                <div hidden class="input-group">
                    {{ form.id }}
                </div>
            </td> 
            {% endfor %}
        </tr>
    </div>
        
</form>


    
</table>

<br />

{% endblock content %}
