{% extends 'base.html' %}
{% load static %}

{% block title %}Game room{% endblock title %}

{% block content %}
<h3>Players</h3>
<p>
    {{ players|join:", "}}
</p>

<form action="" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="name" autofocus=""
            autocapitalize="none" autocomplete="none" placeholder="Name"
            aria-label="Name" maxlength="30" required="" id="id_name">
    </div>
    <div hidden class="input-group mb-3">
        <select name="game" required="" id="id_game">
            <option value="{{this_game.id}}"></option>
        </select>
    </div>
    <input type="submit" name="add_player" class="btn btn-primary" value="Add player">
</form>
<hr>
<br />

<form method="post">
    {% csrf_token %}
    <div hidden class="input-group mb=3">
        <select name="game" required="" id="id_game">
            <option value="{{this_game.id}}"></option>
        </select>
    </div>
    <input type="submit" name="add_round" class="btn btn-primary" value="New round">
</form>
<br />

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
        {% endfor %}
    {% endfor %}
    <input type="submit" name="add_score" class="btn btn-primary" value="Update scores">
</form>

<h3>Score</h3>

<table>
    <tr>
        <th>
            Round
        </th>
        {% for player in players %}
        <th>
            {{ player.name }}
        </th>
        {% endfor %}
    </tr>
    {% for round in rounds %}
        <tr>
            <td>
                {{ round }}
            </td>
            {% for score in round.score_set.all %}
            <td>
                {{ score.value }}
            </td>
            {% endfor %}

            
        </tr>
    {% endfor %}
</table>

<br />

{% endblock content %}