{% extends 'base.html' %}
{% load static %}

{% block title %}Game room{% endblock title %}

{% block content %}
<h1>Game</h1>

<p>slug: {{ this_game.slug }}</p>
<p>Players:</p>
{% for player in players %}
    <p>{{ player.name }}</p>
{% endfor %}

<form action="" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="name" autofocus=""
            autocapitalize="none" autocomplete="none" placeholder="Name"
            aria-label="Name" maxlength="30" required="" id="id_name">
    </div>
    <div hidden class="input-group mb=3">
        <select name="game" required="" id="id_game">
            <option value="{{this_game.id}}"></option>
        </select>
    </div>
    <input type="submit" name="add_player" class="btn btn-primary" value="Add player">
</form>


<br />

<table>
    <tr>
        <th>
            Round
        </th>
        {% for player in players %}
        <th>
            {{ player.name }}
        </th>
        {% endfor %}
    </tr>
    
        
     

</table>
<form method="post">
    {% csrf_token %}
    <div hidden class="input-group mb=3">
        <select name="game" required="" id="id_game">
            <option value="{{this_game.id}}"></option>
        </select>
    </div>
    <input type="submit" name="add_round" class="btn btn-primary" value="New round">
</form>

{% endblock content %}